@import url('https://fonts.googleapis.com/css?family=Oswald|Press+Start+2P');
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
body{

}



#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.igdtuw{
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    align-content: center;

}

#myBtn {
    width: 8.5em;
    font-size: 16px;
    padding: 5px;
    border: none;
    background: #00a4a2;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    margin: 0.2em;
}

#myBtn:hover {
    background: #fff;
    color:#00a4a2;

}

.arcane {
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    text-shadow: 20px 20px 50px white;
}


#anonimg{
    max-width: 200px;
    margin-bottom: 5px;
}
.btng{
    margin: 5px;
    color: rgb(241, 241, 241);
    background-color: #ea3f30;

}
.btng:hover{
    background-color: #e45750;
}

#btnf{
    margin: 5px;
    color: rgb(241, 241, 241);
    background-color: #23527c;
}
#btnf:hover{
    background-color: #365a7c;
}
#spn{
    padding: 10px;
}


#btnlts{
    padding: 10px;
    width: 200px;
    margin: 20px;
    font-size: large;
 }

#DashImg{
    width:600px;
}
#DashBtn{
    background-color: #2C3E50;
    padding:5px 20px 5px 20px;

    color: #fff;
}
#DashFrm{
    color: rgba(0, 0, 0, 0.68);
    margin-bottom: 25px;
}
#DashTxt{
    padding:5px;
}
#dashboard{
    padding: -40px 0 -100px 0;
    margin: -50px 0 -80px 0;

}
#DashContainer{
    padding-top: 200px;
    padding-bottom: 20px;
}
